@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$lighting-color: #fff;
$accent-color:#65e496;


h1, h2, h3, h4, p{
	padding: 0;
	margin: 0;
}
body{
font-family: 'Roboto Slab', serif;
}
.wrap{
max-width: 1170px;
	margin:0 auto;
	width: 100%;	
}
.page-main{
	background-image: linear-gradient(-60.0deg, #54b7a1 1%, #426384 112140136%);
	background-size: cover;
	color: $lighting-color;
	padding-bottom: 162px;
}
.header{
	padding: 50px 0 180px;
	max-width: 1170px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo{
		background-image: url(../img/Logo.svg);
		display: block;
		width: 137px;
		height: 28px;
	}
	&-list{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.05em;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		&__item{
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom:3px solid transparent;	
			transition: 0.3s;
			&:hover{
				border-bottom:3px solid $accent-color;	
		}
		}	
		&__item.activ{
        	border-bottom:3px solid $accent-color; 
		}
		&__link{
			color:$lighting-color;
			text-decoration: none; 
		}
	}
	
}
.block-book{
	display: flex;
	justify-content: space-between;
	&-demo{
		flex-basis: 445px;
		background-image: url(../img/book.svg);
		display: block;
		width: 445px;
		height: 639px;
		background-repeat:no-repeat;
	}
}
.block-text{
	flex-basis:57%;
	&__name{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		line-height: 44px;
		font-weight: 400;
		letter-spacing: 0.05em;
		padding-bottom: 39px;
	}
	&__title{
		font-size: 48px;
		line-height: 44px;
		font-weight: 700;
		letter-spacing: 0.04em;
		span{
			display: block;
			color: $accent-color;
			font-size: 18px;
			padding: 22px 0 45px;
		}
	}
	p{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		letter-spacing: 0.05em;	
		padding-bottom: 35px;
	}
	&__btn{
		display: block;
		background-color:$accent-color;
		color:$lighting-color;
		text-decoration: none;
		max-width: 250px;
		border-radius: 3px;
		text-align: center; 
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: 0.04em;
		margin: 25px 0;
		box-shadow: 0px 2px 0px 0px rgba(101,227,125,0.5);
		padding: 10px 20px;
	}
}
.page{
	padding-top: 160px;
}
.block-author{
	display: flex;
	justify-content: space-between;
}
.block-ava{
	position: relative;
	&__svg{
     position: absolute;
     z-index: -1
     right:0;
	}
	&__img{
    margin-top: 48px;
    margin-right: 44px;
	}
}
.page_grey{
	display: flex;
	justify-content: space-between;
	align-items: center;
}